pre.svelte-1uv57o3{font-family:Courier New,Courier,monospace;background-color:#f8f9fa;padding:.5rem;border-radius:.25rem;border:1px solid #e9ecef;max-height:200px;overflow-y:auto}.health-status-container.svelte-ykmcmy{max-width:100%}
